<!DOCTYPE>
<html>
	<head>
		<title> Browse books </title>


		<!-- Bootstrap Core CSS -->
    	<link href="css/bootstrap.min.css" rel="stylesheet">

    	<!-- Custom CSS -->
    	<link href="css/thumbnail-gallery.css" rel="stylesheet">

    	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    	<!--[if lt IE 9]>
        	<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        	<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    	<![endif]-->


	</head>

	<body>
		<!-- Page Content -->
    <div class="container" style="margin-top:-70px">

    	<div class="col-lg-12">
                <h1>Browse {{page}}</h1>
        </div>

        <div class="row">
            <div ng-repeat="book in books" class="col-lg-3 col-md-3 col-xs-6 thumb">
                <a class="thumbnail" style="cursor: pointer; height: 350px;" >
                    <img  class="ImageBorder" ng-controller ="BioCtrl"  ng-click="viewBio(book.id)" ng-src="{{book.coverLocation}}" style="height: 100%; width: auto;">
                </a>
            </div>
        </div>

        

    </div>



	</body>
</html>




