<!DOCTYPE>
<html>
	<head>
		<title> Browse books </title>

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
		<link rel="stylesheet" type="text/css" href="css/books.css">
	</head>
	<body>
		<div class="container" align = "center">
			<h1>Browse books</h1>	
			<div align = "center" class="row" ng-repeat="book in books" >
 				 <div align="center">
    			  	<a href="www.google.com" class="thumbnail">
   	  			 	<p>{{book.name}}</p> 
     			 	<img align="middle" ng-src="{{book.coverLocation}}" alt="book.name" style="width:320px;height:480px">
  				  	</a>
 				 </div>
			</div>

	<div id="header">
<h1>City Gallery</h1>
</div>

<div id="nav">
London<br>
Paris<br>
Tokyo<br>
</div>

<div id="section">
<h1>London</h1>
<p>
London is the capital city of England. It is the most populous city in the United Kingdom,
with a metropolitan area of over 13 million inhabitants.
</p>
<p>
Standing on the River Thames, London has been a major settlement for two millennia,
its history going back to its founding by the Romans, who named it Londinium.
</p>
</div>

<div id="footer">
Copyright © W3Schools.com
</div>



			<!--<table class="table">
				<tbody>
					<tr ng-repeat="book in books">
						<td>
						<img ng-src="{{book.coverLocation}}" alt="Link to this page"></a>
						</td>
						<td>
							<div><h1>{{book.name}}</h1></div>
							<div><h3>{{book.author}}</h3></div>
							<button ng-controller ="BioCtrl" class="btn btn-lg btn-primary" type="button" 
								ng-click="viewBio(book.id)">View Bio</button>

						</td>
					</tr>
				</tbody>
			</table> -->
			
		</div>


	</body>
</html>




