
<body>
	<div id="bookbox">
		<h1 id="title">{{book.name}}</h1>
	</div>
		
	<div class="pull-right">
		<button type="button" class="btn btn-danger" ng-click="removeBook()" ng-show="currentUser.admin"> 
		<i class="fa fa-trash"> 
			Remove Book
		</i>
		</button>
	</div>
		
		<div id="nav">
			<h3 id="info"> Genre</h3>
			<div ng-repeat="genre in book.genres">

				<h6 id="info">{{genre}}</h6>
			</div>
			<h3 id="info"> Author</h3>
			<h6 id="info">{{book.author}}</h6>
			<h3 id="info"> Ratings </h3>

			<h6 id="info" ng-hide="book.avgRating == 0"> {{book.avgRating}}/5 </h6>
			<h6 id="info" ng-show="book.avgRating == 0"> Not rated yet </h6>
		


		<!-- Labels section, only viewed to admin -->
<div ng-show = "currentUser.admin">
<br><br>
<h6 id="info" > Labels </h6>
 <tags-input ng-model="tags" add-on-space = "true" on-tag-added = "editTags()" 
 on-tag-removed="editTag()">
<!--       <auto-complete source="loadTags($query)"></auto-complete>
 -->    </tags-input>
 </div>
<br><br><br><br>

		<!-- End labels -->
</div>

		<div id="image">
			<img  ng-src="{{book.coverLocation}}"/>
		</div>

		<div id = "bio">
			<h1>Bio</h1>
			<p ng-bind-html="book.bio"></p>
			<!-- section of buttons for user to choose if he want to add a book to any list of his -->
			<button ng-hide="book.tobeRead" style="margin-top: 10px" class="btn btn-primary active" type="button" ng-click="addTobeRead()">Will Read it Later</button>
			<button ng-show="book.tobeRead"  style="margin-top: 10px" class="btn btn-danger" type="button" ng-click="removeTobeRead()" >Remove from to-be read list</button>
			<button type="button" class="btn btn-primary active" ng-click="sendReading()" style="margin-top: 10px"> Add to Currently Reading
			</button>
      <button style="margin-top: 10px" class="btn btn-default" type="button" ng-click="broadCastEpub()" >Read the Book</button>

			<!-- star rating section starts here-->
			<div id="star">
				<span class="star-rating">
				  <input type="radio" name="rating" ng-click="rate(1)" ng-model="rating" value="1"><i></i>
				  <input type="radio" name="rating" ng-click="rate(2)" ng-model="rating" value="2"><i></i>
				  <input type="radio" name="rating" ng-click="rate(3)" ng-model="rating" value="3"><i></i>
				  <input type="radio" name="rating" ng-click="rate(4)" ng-model="rating" value="4"><i></i>
				  <input type="radio" name="rating" ng-click="rate(5)" ng-model="rating" value="5"><i></i>
				</span>
			</div>
			<!--star rating section ends her-->
		</div>
		<br></br>
        <br></br>
		<div id="review" ng-controller="BookCtrl">
			<div class="input-group">
    			<div>
    			<h6> Write a Review </h6><br>
        			<textarea ng-model="review"
        					class="form-control custom-control" 
        					required
                          	mongoose-error
        					rows="3" 
        					style="width: 200%;
        					resize:none
        					-webkit-border-radius: 10px;
        					border-radius: 10px;"></textarea>
				</div>
   				<br></br><br></br>
        		<div>
        			<span class="input-group-btn">
        				<button class="btn btn-primary active" type="button"
        				style="margin-top: 10px"
        				ng-click= "writeReview()">
        				Post</button>
     				</span>
          		</div>
			</div>
			<div id="reviewList">

				<!-- <table class="table">
					<tr ng-repeat="review in reviews" >
						<h6 id="uInfo" >{{review.userId.username}}</h6>
						<br>

						<h6 id="review">

						</h6>
					</tr>
				</table> -->

				<ul ng-repeat="review in reviews">
				<div id ="header">
					<div style="float: left">
					{{review.userId.username}}
					</div>
					<div id="voticons" style="float: right">
						<i class="fa fa-plus-square-o fa-2x" ng-click="voteReview(review, 'up')"></i>
						<i class="fa fa-minus-square-o fa-2x"  ng-click="voteReview(review, 'down')"></i>
						<br>
						<i class="fa fa-trash-o fa-lg" ng-click="deleteReview(review)" ></i>
					</div>
				</div>
				<br><br>
				<div>
					{{review.review}} 
				</div>
				<br><hr><br>
				</ul>
			</div>
		</div>

	</body>

<!-- <style>
#header {

    color:blue;

    text-align:center;
    padding:5px;
}
#title {
	color: #000050;
    text-align:center;
}
#nav {
	margin-top: 30px;
    line-height:50px;
    background-color:#eeeeee;
    height:370px;
    width:150px;
    float:left;
    padding:5px; 
}
#image {
    width:300px;
    float:left;
    padding:10px; 
}
#bio {
    width:45%;
    float:right;
    margin-right:100px;
    text-align:center; 
    padding:10px; 
}
#star {
	margin-top: 15px;
}

#info{
	text-align: center;
}
</style>  
