<table class="table">
				<tbody>
					<tr ng-repeat="">
						<td><img sng-src="{{book.coverLocation}}"
							class="img-responsive book"
							width="150" height="190">
						</td>
						<!-- <td>
							<div><h1>{{book.name}}</h1></div>
							<div><h3>{{book.author}}</h3></div>
							<div><h3>Bio</h3></div>
							<button type="button" class="btn btn-default" aria-label="Left Align" ng-click="showBio = ! showBio">
	  						<span class="glyphicon glyphicon-align-left" aria-hidden="true"></span>
							</button>
							<div ng-show="showBio">{{book.bio}}</div>
						</td> -->
					</tr>
				</tbody>
			</table>
