
<div class="container">
  <div ng-app>
    <div ng-controller="ProfileController" >
      
  <h1>Edit here</h1>
  <div style="margin-left: 150px;margin-right: 150px">
<form action="demo_form.asp">
<h6>User name: </h6>
 <input type="text" name="UserName" value="{{userInfo.profile.username}}"><br>
 <h6>First name: </h6>
 <input type="text" name="FirstName" value="{{userInfo.profile.firstName}}"><br>
 <h6>Last name: </h6>
 <input type="text" name="LastName" value="{{userInfo.profile.lastName}}"><br>
 <h6>Age: </h6>	
 <input type="text" name="Age" value="{{userInfo.profile.age}}"><br>
 <h6>Address: </h6>
 <input type="text" name="Address" value="{{userInfo.profile.address}}"><br>
<input type="submit" value="Submit">
</form>
</div>


<!-- <div style="float: right;position: relative;text-align: middle;
            width: 80px;margin-right: 300px">
<form action="demo_form.asp">
 <input type="text" name="UserName" value="{{userInfo.profile.username}}"><br>
 <input type="text" name="FirstName" value="{{userInfo.profile.firstName}}"><br>
 <input type="text" name="LastName" value="{{userInfo.profile.lastName}}"><br>
 <input type="text" name="Age" value="{{userInfo.profile.age}}"><br>
 <input type="text" name="Address" value="{{userInfo.profile.address}}"><br>
<input type="submit" value="Submit">
</form>
</div>
<div >
<h6>User name: </h6>
<h6>First name: </h6>
<h6>Last name: </h6>
<h6>Age: </h6>	
<h6>Address: </h6>
</div> -->


    </div>
  </div>
</div>