<!DOCTYPE html>
<html>
<head>
	<title> Choose Genre</title>
	<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css"> -->
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Croma</title>
</head>
<body id="page-top" class="index">
   <section id="portfolio" >
        <div clas="container" style="margin-top:-130px">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h1>Choose your favorite Genre</h1>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row" >
                <div class="col-sm-4 portfolio-item">
                    <a href="portfolioModal1" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <h2 style="margin-top:-20px">Crime</h2>
                                <img id="icon" src="img/genres/hover.png" class="img-responsive" alt="">
                            </div>
                        </div>
                        <div class="imageContainer">
                        	<h1 id="genre">Crime</h1>
                        </div>
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="portfolioModal1" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <h2 style="margin-top:-20px">Sci-Fi</h2>
                                <img id="icon" src="img/genres/hover.png" class="img-responsive" alt="">
                            </div>
                        </div>
                        <div class="imageContainer">
                        	<h1 id="genre">Sci-Fi</h1>
                        </div>
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="portfolioModal1" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <h2 style="margin-top:-20px">Romanc</h2>
                                <img id="icon"  src="img/genres/hover.png" class="img-responsive" alt="">
                            </div>
                        </div>
                        <div class="imageContainer">
                        	<h1 id="genre">Romance</h1>
                        </div>
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="portfolioModal1" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <h2 style="margin-top:-20px">Thriller</h2>
                                <img id="icon" src="img/genres/hover.png" class="img-responsive" alt="">
                            </div>
                        </div>
                        <div class="imageContainer">
                        	<h1 id="genre">Thriller</h1>
                        </div>
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="portfolioModal1" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <h2 style="margin-top:-20px">Fantasy</h2>
                                <img id="icon" src="img/genres/hover.png" class="img-responsive" alt="">
                            </div>
                        </div>
                        <div class="imageContainer">
                        	<h1 id="genre">Fantasy</h1>
                        </div>
                    </a>
                </div>
                
            </div>
        </div>
    </section>

<!--

	<div align="center">
		<button type="button" class="btn btn-default" ng-click="showGenre('Romance')"> Romance </button>
		<button type="button" class="btn btn-primary" ng-click="showGenre('Crime')">   Crime   </button>
		<button type="button" class="btn btn-success" ng-click="showGenre('Religous')">Religous</button>
		<button type="button" class="btn btn-warning" ng-click="showGenre('Sci-fi')">  Sci-fi  </button>
		<button type="button" class="btn btn-danger"  ng-click="showGenre('Horror')">  Horror  </button>
	</div>
-->

</body>
<style>

#genre{
	font-size: 60px;
	top:60px;
	left:82px;
	text-align: center;
	color: #000000;
}
#icon{
	margin-top: -65px;
}

.imageContainer {
       width:350px; 
       height:70px; 
       background-image: url("img/genres/1.png");
       margin-top: -20px;
 }

</style>
</html>