<!DOCTYPE html>
<html>
<head>
	<title> Choose Genre</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
</head>
<body style="margin-top: 300px">

	<div align="center">
  		<button type="button" class="btn btn-default" ng-click="showGenre("Romance")">Romance</button>
		<button type="button" class="btn btn-primary" ng-click="showGenre("Crime")">Crime</button>
		<button type="button" class="btn btn-success" ng-click="showGenre("Religous")">Religous</button>
		<button type="button" class="btn btn-warning" ng-click="showGenre("Sci-fi")">Sci-fi   </button>
		<button type="button" class="btn btn-danger" ng-click="showGenre("Horror")">Horror</button>
	</div>


</body>
</html>