<!DOCTYPE html>
<html>
<head>
	<title> Choose Genre</title>
	<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css"> -->
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Croma</title>
</head>
<body id="page-top" class="index">
   <section id="portfolio" >
        <div clas="container" style="margin-top:-130px">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h1>Choose your favorite Genre</h1>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row" >
                <div class="col-sm-4 portfolio-item">
                    <a id="x" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <h2 style="margin-top:-20px">Crime</h2>
                            </div>
                        </div>
                        <div class="imageContainer">
                        	<h1 id="genre">Crime</h1>
                        </div>
                    </a>
                </div>
                
                
            </div>
        </div>
    </section>

<!--

	<div align="center">
		<button type="button" class="btn btn-default" ng-click="showGenre('Romance')"> Romance </button>
		<button type="button" class="btn btn-primary" ng-click="showGenre('Crime')">   Crime   </button>
		<button type="button" class="btn btn-success" ng-click="showGenre('Religous')">Religous</button>
		<button type="button" class="btn btn-warning" ng-click="showGenre('Sci-fi')">  Sci-fi  </button>
		<button type="button" class="btn btn-danger"  ng-click="showGenre('Horror')">  Horror  </button>
	</div>
-->

</body>
<style>

#genre{
	text-align: center;
	padding-top: 2px;
	color: #000000;
	font-size: 60px;
}
.imageContainer {
       width:350px; 
       height:70px; 
       background-image: url("img/genres/3.png");
       margin-top: -20px;
 }
#x:hover{
	cursor: url("img/genres/hover.cur"), auto;
	text-decoration: none;
}
</style>
</html>