<!-- Start of main Container -->
<div id="main" >
    <div id="titlebar">
        <h4 id="book-title"></h4>
    </div>
    <select id="toc" >
    </select>
    <div id="prev" class="arrow noselect" ng-click="prevPage()">‹</div>
   <!-- Start of Book viewer area -->
    <div id="area"> </div>
    <!-- End of Book viewer area -->
    <div id="next" class="arrow noselect" ng-click="nextPage()">›</div>
    <div id="loader"><img src="img/reader/loader.gif"></div>
</div>
<!-- End of main Container -->
