<table class="table">
	<tbody>
		<tr ng-repeat="">
			<div class="container">
				<div class="row">
					<div class="col-xs-4 col-md-2">
						<a href="">
						<td><img sng-src="{{book.coverLocation}}"
							class="img-responsive book"
							width="150" height="190">
						</td>
						</a>
					</div>
				</div>
				</tr>
				</tbody>
			</table>

<!-- http://suptg.thisisnotatrueending.com/archive/36627018/images/1418044508323.jpg -->





		<div class="col-xs-4 col-md-2">
			<a href="">
			<img src="http://placehold.it/150x190/e8117f/fff&amp;text=Book%20Title" 
				class="img-responsive book">
			</a>
			</div>
		<div class="col-xs-4 col-md-2">
			<a href="">
			<img src="http://placehold.it/150x190/e8117f/fff&amp;text=Book%20Title" 
				class="img-responsive book">
				</a>
				</div>
		<div class="col-xs-12 shelf hidden-md hidden-lg">
		</div>
		<div class="col-xs-4 col-md-2">
			<a href="">
			<img src="http://placehold.it/150x190/e8117f/fff&amp;text=Book%20Title" 
				class="img-responsive book">
			</a>
		</div>
		<div class="col-xs-4 col-md-2">
			<a href="">
			<img src="http://placehold.it/150x190/e8117f/fff&amp;text=Book%20Title" 
			class="img-responsive book">
			</a>
		</div>
		<div class="col-xs-4 col-md-2">
			<a href="">
			<img src="http://placehold.it/150x190/e8117f/fff&amp;text=Book%20Title" 
				class="img-responsive book">
			</a>
		</div>
		<div class="col-xs-12 shelf">
		</div>
		<div class="col-xs-4 col-md-2">
			<a href="">
			<img src="http://placehold.it/150x190/e8117f/fff&amp;text=Book%20Title" 
				class="img-responsive book">
			</a>
		</div>
		<div class="col-xs-4 col-md-2">
			<a href="">
			<img src="http://placehold.it/150x190/e8117f/fff&amp;text=Book%20Title" 
				class="img-responsive book">
			</a>
		</div>
		<div class="col-xs-4 col-md-2">
			<a href="">
			<img src="http://placehold.it/150x190/e8117f/fff&amp;text=Book%20Title" 
				class="img-responsive book">
			</a>
		</div>
		<div class="col-xs-12 shelf hidden-md hidden-lg"></div>
		<div class="col-xs-4 col-md-2">
			<a href="">
			<img src="http://placehold.it/150x190/e8117f/fff&amp;text=Book%20Title" 
				class="img-responsive book">
			</a>
		</div>
		<div class="col-xs-4 col-md-2">
			<a href="">
			<img src="http://placehold.it/150x190/e8117f/fff&amp;text=Book%20Title" 
				class="img-responsive book">
			</a>
		</div>
		<div class="col-xs-4 col-md-2">
			<a href="">
			<img src="http://placehold.it/150x190/e8117f/fff&amp;text=Book%20Title" 
				class="img-responsive book">
			</a>
		</div>
		<div class="col-xs-12 shelf"></div>
		<div class="col-xs-4 col-md-2">
			<a href="">
			<img src="http://placehold.it/150x190/e8117f/fff&amp;text=Book%20Title" 
				class="img-responsive book">
			</a>
		</div>
		<div class="col-xs-4 col-md-2">
			<a href="">
			<img src="http://placehold.it/150x190/e8117f/fff&amp;text=Book%20Title" 
				class="img-responsive book">
			</a>
		</div>
		<div class="col-xs-4 col-md-2">
			<a href="">
			<img src="http://placehold.it/150x190/e8117f/fff&amp;text=Book%20Title" 
				class="img-responsive book">
			</a>
		</div>
		<div class="col-xs-12 shelf hidden-md hidden-lg"></div>
		<div class="col-xs-4 col-md-2">
			<a href="">
			<img src="http://placehold.it/150x190/e8117f/fff&amp;text=Book%20Title" 
				class="img-responsive book">
			</a>
		</div>
		<div class="col-xs-4 col-md-2">
			<a href="">
			<img src="http://placehold.it/150x190/e8117f/fff&amp;text=Book%20Title" 
				class="img-responsive book">
			</a>
		</div>
		<div class="col-xs-4 col-md-2">
			<a href="">
			<img src="http://placehold.it/150x190/e8117f/fff&amp;text=Book%20Title" 
				class="img-responsive book">
			</a>
		</div>
		<div class="col-xs-12 shelf"></div>
		<div class="col-xs-4 col-md-2">
			<a href="">
			<img src="http://placehold.it/150x190/e8117f/fff&amp;text=Book%20Title" 
				class="img-responsive book">
			</a>
		</div>
		<div class="col-xs-4 col-md-2">
			<a href="">
			<img src="http://placehold.it/150x190/e8117f/fff&amp;text=Book%20Title" 
				class="img-responsive book">
			</a>
		</div>
		<div class="col-xs-4 col-md-2">
			<a href="">
			<img src="http://placehold.it/150x190/e8117f/fff&amp;text=Book%20Title" 
				class="img-responsive book">
			</a>
		</div>
		<div class="col-xs-12 shelf hidden-md hidden-lg"></div>
		<div class="col-xs-4 col-md-2">
			<a href="">
			<img src="http://placehold.it/150x190/e8117f/fff&amp;text=Book%20Title" 
				class="img-responsive book">
			</a>
		</div>
		<div class="col-xs-4 col-md-2">
			<a href="">
			<img src="http://placehold.it/150x190/e8117f/fff&amp;text=Book%20Title" 
				class="img-responsive book">
			</a>
		</div>
		<div class="col-xs-4 col-md-2">
			<a href="">
			<img src="http://placehold.it/150x190/e8117f/fff&amp;text=Book%20Title" 
				class="img-responsive book">
			</a>
		</div>
		<div class="col-xs-12 shelf"></div>
	</div>
</div>