<head>
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
        <!--[if lt IE 9]>
            <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js" rel="stylesheet">
    </head>
<div class="navbar navbar-default" ng-controller="NavbarCtrl">
    <div class="navbar-header"><a class="navbar-brand" href="#" name="top" style="font-size: 60px;">Croma</a>
    </div>

 
    <div class="nav navbar-nav">
        <ul class="nav navbar-nav">
            <li ng-repeat="item in menu" ui-route="/{{item.link}}" ng-class="{active: $uiRoute}">
                <a ng-href="/#/{{item.link}}">{{item.title}}</a>
            </li>
            <li ng-repeat="item in authMenu" ng-show="currentUser" ui-route="/{{item.link}}" ng-class="{active: $uiRoute}">
                <a ng-href="/#/{{item.link}}">{{item.title}}</a>
            </li>
        </ul>
    </div>
    <div class="nav navbar-nav pull-right">
        <ul class="nav navbar-nav" ng-hide="currentUser">
            <li><a ng-href ="/#/login">Log In</a></li>
            <li><a ng-href="/#/signup">Sign up</a></li>
            
        </ul>
        <ul class="nav navbar-nav" ng-show="currentUser">
            <li class="dropdown">
                <a class="dropdown-toggle">Welcome, {{ currentUser.username }} <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a ng-click="logout()"><span class="glyphicon-log-out"></span>Logout</a></li>
                </ul>
            </li>
        </ul>
    </div>
    <!--/.navbar-collapse -->

</div>
