<div class="container">
<img ng-src="/img/avatar.jpg" width="100" height="100">
<div ng-app>
  <div ng-controller="ProfileController">
    <div ng-hide="editorEnabled">
     <h1> {{editedInfo.profile.username}}</h1>
      <a href="/#/profile"  ng-click="enableEditor()">Edit User Name</a>
    </div>
    <div ng-show="editorEnabled">
      <input ng-model="editableTitle" ng-show="editorEnabled">
      <a href="/#/profile"  ng-click="save()">Save</a>
      or
      <a href="/#/profile"  ng-click="disableEditor()">cancel</a>.
    </div>
  </div>
</div>


 <div ng-controller="ProfileController">
 <h3> First Name:</h3> 
    <div ng-hide="editorEnabled">
    {{editedInfo.profile.firstName}}
      <a href="/#/profile"  ng-click="enableEditor()">Edit First Name</a>
    </div>
    <div ng-show="editorEnabled">
      <input ng-model="editableTitle" ng-show="editorEnabled">
      <a href="/#/profile"  ng-click="save()">Save</a>
      or
      <a href="/#/profile"  ng-click="disableEditor()">cancel</a>.
    </div>

<div ng-controller="ProfileController">
   <h3>  Last Name:</h3> 
    <div ng-hide="editorEnabled">
    {{editedInfo.profile.lastName}}
      <a href="/#/profile"  ng-click="enableEditor()">Edit last Name</a>
    </div>
    <div ng-show="editorEnabled">
      <input ng-model="editableTitle" ng-show="editorEnabled">
      <a href="/#/profile"  ng-click="save()">Save</a>
      or
      <a href="/#/profile"  ng-click="disableEditor()">cancel</a>.
    </div>
  </div>

<div ng-controller="ProfileController">
   <h3>Age:</h3>
    <div ng-hide="editorEnabled">
     {{editedInfo.profile.age}}
      <a href="/#/profile"  ng-click="enableEditor()">Edit Age</a>
    </div>
    <div ng-show="editorEnabled">
      <input ng-model="editableTitle" ng-show="editorEnabled">
      <a href="/#/profile"  ng-click="save()">Save</a>
      or
      <a href="/#/profile"  ng-click="disableEditor()">cancel</a>.
    </div>
  </div>
  </div>





