
<div class="container">

      <div style="width:100%; text-align:center">
      
 <img ng-src="{{userInfo.profile.profilePhoto}}" width="150" height="150" >
        <h1 >{{userInfo.profile.username}}</h1>
        <div style=" text-align:right">
        <a href="/#/editpage"><i class="fa fa-pencil-square-o" style="color:CadetBlue;font-sizesize:3.0em">Edit</i></a>
  
      </div>
      </div>

      

      <div>
        <p><span style="size:7;color:CadetBlue"><b>
        First Name:</b> </span><span style="size:3">{{userInfo.profile.firstName}}</span></p>
        <p><span style="color:CadetBlue;size:7"><b>
        Last Name:</b> </span><span style="size:3">{{userInfo.profile.lastName}}</span></p>
        <p><span style="color:CadetBlue;size:7"><b>
        Age:</b> </span><span style="size:3">{{userInfo.profile.age}}</span></p>
        <p><span style="color:CadetBlue;size:7"><b>
        Address:</b> </span><span style="size:3">{{userInfo.profile.address}}</span></p>
        <p><span style="color:CadetBlue;size:7"><b>
        Gender:</b> </span><span style="size:3">{{userInfo.profile.gender}}</span></p>
      </div>
  


</div>


